@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  background-color: #0074D9; }

img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float: left; }

h1 {
  font: bold 50px "Racing Sans One", cursive;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font: 15px "Press Start 2P", cursive;
  color: #001F3F;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px; }

h4 {
  margin-left: 70px; }

#toggle {
  width: 30%;
  height: 3em;
  background: #001F3F;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #toggle ul {
    list-style: none; }
  #toggle li {
    display: inline-block;
    padding: 15px; }
  #toggle a {
    text-decoration: none;
    color: #fff;
    font: 15px "Press Start 2P", cursive;
    font-size: 12px; }

#searchBar {
  width: 35%;
  height: 3.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }

input {
  outline: none;
  margin-left: 20%;
  margin-top: .5em; }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 200px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    input[type=search]:focus {
      background-color: #fff;
      border-color: #0074D9;
      -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

#results {
  width: 35%;
  height: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #0074D9; }
  #results li {
    list-style: none;
    padding-bottom: 8px;
    color: #001F3F;
    margin-left: 50px;
    font: 15px "Press Start 2P", cursive;
    font-size: 12px; }
  #results a {
    text-decoration: underline; }
    #results a:visited {
      color: blue; }

#channelsOnline {
  margin-top: 30px; }
  #channelsOnline img {
    margin-left: 20px; }

#channelsOffline {
  margin-top: 30px; }
  #channelsOffline img {
    margin-left: 20px; }
  #channelsOffline a {
    color: red; }
    #channelsOffline a:visited {
      color: red; }
